.toast {
    position: fixed;
    top: 20px;
    right: 30px;
    background-color: rgb(13, 188, 13);
    color: #fff;
    padding: 15px 25px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .toast.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
  
  .toast.hide {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);
  }
  